snippet main "main function" b
int main() {
	$0
	return 0;
}
endsnippet

snippet p "print to std out" 
std::cout << $0 << std::endl;
endsnippet

snippet for "for loop"
for (int i = $1; i $2; i++$3) {
	$0    
}
endsnippet
    
    
    
